
article{
  display: grid;
  grid-template-columns: 25% 50%;
  height: 500px;
  width: 75%;
  background-color: #efefef;
  border: #d8d8d8 .7px solid;
  margin: 50px auto;
  overflow: scroll;
  ul li{
    list-style: none;
  }
}